
h1{color:green}
.Importante{

  border: 2px solid #FF1493;
  color: #9370DB;
}
#rodape{
  border-style: solid;
  border-radius: 15px;
  border-width: 3px;
  border-color: green;
}

.bnt {
background-color: #2e8b57;
border: 2px solid #2e8857;
color: #ffffff;
border-radius: 10px;
text-transform: uppercase;
text-decoration: underline;
}
.figuras {
wid1th: 300px;
height: 200px;
}
.perfil img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  }
.div1{
  float: left;
  background-color: blue;
  height: 50px;
  margin: 40px 30px 25px  60px;
  border-style: solid;
  /*border-color: red;*/
    border-left: black;
  border-width: 3px;

  /*margin: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-right: 30px;*/
}.texto-comum:hover{
 font-size: 25px;
 color: orange;
 border: 1px solid black;
 border-radius: 5px;
}
.bnt:hover{
  cursor: crosshair;

}
.escondido{
  display: none;




  padding: 10px;



.div1 h3 {
  color: white;
}

}
