.container {
  margin: 15px 7% 15px 7%;
}

.cabecalho {
  margin-top: 35px;
  padding: 15px;
  height: 100px;
  background-color:  #009999;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.btn {
  height: 45px;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  min-width: 50px;
}

.btn-red:hover {
  color: white;
  background-color: #f44336;
}

.cont{
  margin-top: 40px;
  padding: 15px;
  height: 120px;
  background-color: #f1f1f1;
  border-radius: 40px;
  border: 1px solid #ccc;
  margin: 15px 7% 15px 7%;
}

