
body{
  background-color: #0099ff;
}

.menuTopo{
  margin-top: 1cm;
  margin-left: 5cm;
  margin-bottom: 1cm;
}

.menuTopo a{
  margin-left: 4cm;
  padding-left: 10px;
  padding-right: 10px;

}

a{
  background-color: #00FF00;
  border: 3px solid #ccc;
  box-shadow: inset 0 10px 30px #fff, 0 5px 7px #666;
}

a : link {
  text-decoration: none;
}

a: hover {
  color: #000000;
  background: #ffff00;
}

article{
  margin-left: 3cm;
  margin-right: 3cm;
}

.areadeInput{
  margin-left: 5cm;
  margin-right: 5cm;
}
.areadeInput input{
  margin-top: 15px;
  margin-bottom: 15px;
}

button{
  cursor: pointer;
  margin-left: 4cm;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid #ccc;
  border-radius: 20px;
  background-color:#00ff00;
  text-transform: uppercase;
  box-shadow: inset 0 10px 30px #fff, 0 5px 7px #666;
}

.relacionados{
  margin-left: 4cm;
  margin-right: 4cm;
  margin-top: 1cm;
  margin-bottom: 1cm;

}

.relacionados a{
  margin-top: 15cm;
  margin-bottom: 8cm;
  padding-left: 10px;
  padding-right: 10px;
}

main{
  margin-top: 1cm;
  margin-left: 10cm;
  margin-bottom: 2cm;
}

form{
  margin-left: 5cm;
}

h3{
  font: 20px,arial, verdana;
}

label{
  margin-left: 2cm;
  margin-bottom: 1cm;
  font:16px arial, verdana, helvetica;
}

input{
  margin-left: 30px;
  margin-bottom: 1cm;
}
select{
  margin-bottom: 1cm;
}

.senha{
  margin-left: 175px;
}

.nick{
  margin-left: 143px;
}


.telefone{
  margin-left: 240px;
}

.areatexto{
  margin-left: 325px;
  padding-left: 4cm;
  padding-right: 3cm;
  padding-top: 6cm;
  margin-bottom: 2cm;
}

.menulogin{
  margin-top: 30px;
  margin-left: 32cm;
}
