.container{
	margin: 15px 7% 15px 7%;
}

.cabecalho{
	margin-top: 35px;
	height : 100px;
	background-color: #f1f1f1;
	border-radius: 20%;
	border-color: #ccc;
	
	
}

.btn{
	 background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.btn1:hover {
    background-color: #4CAF50;
    color: white;
}


.input:focus {
    background-color: yellow;
}
