
hr {
	display: block;
	height: 1px;
	border:0;
	border-top: 1px solid #ccc;
	margin:1em 0;
	padding: 0;

}

img{
	vertical-align: middle;
}

fieldset{
	border: 0;
	margin: 2;
	padding: 2;
}

textarea{
	resize: vertical;
}

#logo a {
	background-image: url(../img/logo.jpg);
	background-repeat: no-repeat;
	width: 300px;
	height: 100px;
	display: block;
	text-indent: -9999px;
}

#menu-principal{
	float: right;
	margin-top: 25px;
}

#menu-principal ul li{
	display: inline;
	margin-left: 29px;
}

#menu-principal ul li a{
	font-size: 22px;
	text-transform: uppercase;
	color: #28aacb;
}

#menu-principal ul li a,
#menu-principal ul li a:link,
#menu-principal ul li a:visited{
	font-size: 22px;
	text-transform: uppercase;
	color: #28aacb;
	font-weight: 500;
}

#menu-principal ul li a:hover{
	color:#a4a4a4;
}

#menu-principal ul li a.ativo{
	color:#a4a4a4;
}

hr.linhacinza {
	border-top: 3px solid #cccccc;
	margin-top: 0;
	margin-bottom: 0;
}

hr.linhaazul {
	border-top:0px solid #28aacb;
	border-bottom:3px solid #28aacb;
	margin-top: 0;
	margin-bottom: 0;
}

.destaque-item {
	margin-top:30px;

}

.destaque-item h2{
	font-size: 17px;
	font-weight: 700;
	color: #28aacb;
}

.destaque-item p{
	font-size: 15px;
	color: #2c2c2c;

}

.destaque-item a,
.destaque-item a:link,
.destaque-item a:visited {
	font-size: 14px;
	color: #28aacb;
}

.destaque-item a: hover{
	color: #cccccc;
	padding: 15px 0px;
}

#depoimento {
	margin-top: 50px;
	background-color: #cccccc;

}

#depoimento p{
	font-size: 22px
	color: 0e0f0f;
	font-weight: normal;
}

#depoimento h3{
	font-family:'Georgia',serif;

}

#rodape {
	background-color:#28aacb;
}

#menu-rodape ul li{
	display: inline;
	margin: 0px 15px;
}

#menu-rodape ul li a,
#menu-rodape ul li a:link,
#menu-rodape ul li a:visited{
	font-size: 18px;
	color:#fff;
	text-transform: uppercase;
	font-weight: 500;
}

#menu-rodape ul li a:hover{
	color: #cccccc;
	padding: 15px 0px;
}

#rodape p {
	color:#fff;
	font-size: 11px;
	text-align: center;
}

#main-interna{
	padding: 30px 0 100px 0;
}

#titulo-pagina h1{
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 30px;

}

.imagem-sobre{
	margin-top: 25px;
	float: left;
}

.sidebar{
	float: left;
}

.sidebar-item{
	border-bottom: 3px solid #e9e9e9;
	margin: 30px;

}

.siderbar-item h1{
	font-size: 20px;
	padding: 0;
}

.sidebar-item ul li{
	margin-bottom: 20px;
	margin: 30px;
}

.sidebar-item ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-item ul li a,
.sidebar-item ul li a:link,
.sidebar-item ul li a:visited{
	color: #28aacb;
}

.sidebar-item ul li a:hover{
	color:#a4a4a4;
}

.post-comentario {
	margin: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
}

#formulario input {
	height: 40px;
    width: 300px;
	margin-top: 0px;
	margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 12px;
    resize: none;

}

#formulario textarea{
	width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 15px;
    resize: none;
    margin-top: -15px;
}

.btn_submit{
	background-color: #28aacb;
    border: none;
    width: 80px;
    height: 40px;
    margin: 4px 2px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: white;
}

.pesquisa{
    padding: 12px 20px;
    width: 400px;
    margin:10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url(../img/search_icone.png);
    background-size: 40px, 40px;
    background-position: -1px, 10px;
    background-repeat: no-repeat;
    padding-left: 42px
}

#texto-pesquisa{
	margin: 10px;
	font-size: 20px;
}

#formulario label{
	padding: 5px;
	display: block;
	font-weight: bold;
}

#mapa-contato{
	margin-top: 30px;
	float: left;
}

#redes-sociais img{
	margin-right: 10px;
}

#endereco ul,
#redes-sociais ul{
	list-style: none;
	padding: 20px;
	margin-top: 20px;
}

#endereco h1,
#redes-sociais h1{
	font-size: 18px;
	text-transform: uppercase;
}

#redes-sociais ul{
	margin-left: -20px;
	margin-top: -30px;
}

#redes-sociais li{
	display: inline-block;
}

.comentario{
	color: #28aacb;

}

#img-like{
		width: 40px;
    height: 40px;
		cursor: pointer;
}

.btn-remove-comentario {
	background-color: #28aacb;
		border: none;
		width: 60px;
		height: 18px;
		margin: 4px 2px;
		cursor: pointer;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;
		font-size: 11px;
		color: white;
}

#curtida{
		background-color: #28aacb;
    border: none;
    width: 80px;
    height: 40px;
    margin: 4px 2px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: white;
}
