/*
*       Aula 01
*/

/* 
a {
	text-decoration: none;
	font-family: Verdana;
	font-size: 42px;
	color: rgb(120, 120, 120);
	border: 4px red dotted;
	border-bottom-style: solid;
	border-bottom-width: 6px;
	border-bottom-color: black;
	background-color: lightGrey;
}

.caixaTexto
{
	background-color: blue;
	border: 2px green solid;
}

.identarValorADireita
{
	text-align: right;
}

#nome
{
	background-color: red;
	
} 
*/

/*
*       Aula 02
*/

/*
input
,select 
{
    width: 150px;
    border: 1px black solid;
    padding: 2px;
    margin: 3px;
    border-radius: 5px;
}

input:focus, select:focus 
{
    border: 2px black solid;
    font-weight: bold;
}

a 
{
    border: 2px black solid;
    background-color: #00a458;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 9px;
    box-shadow: 6px 6px 5px #888;
    position: relative;
    top: 20px;
}

label
{
    text-shadow: 3px 3px 3px #888;
}
*/

.clicavel {
    cursor: pointer;
}

