.container {
  margin: 10px 5% 15px 5%;
}

.cabecalho { 
  margin-top: 35px;
  padding: 15px;
  height: 100px;
  background-color:  #D8BFD8;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family:Tahoma;

}
.btn {
  height: 45px;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  min-width: 50px;

}

.cont{
  margin-top: 40px;
  padding: 40px;
  height:100px;
  background-color:  #D8BFD8;
  border-radius: 20px;
  border: 1px solid #ccc;
 margin: 15;
  padding: 15; 
  font-family:Tahoma;
  font-size:10pt;

}
.limpar {

border:1px;
background-color: #00264d;
cursor: pointer;
}

